@tailwind base;
@tailwind components;
@tailwind utilities;

header input {
    all: unset;
}

:root {
    --clr-primary-500: #17AF26;
    --clr-primary-700: #05422C;

}


.hover-underline-animation {
    display: inline-block;
    position: relative;    
  }
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--clr-primary-500);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }